---
layout: default
published: false # temporarily hidden
title: "curation"
description: "Exhibitions curated by Muna Al Fadl, including Horsemarket, Homeland and The Other Half of the Story."
active: "/curation"
css: "curation"
---
<div id="curations-box">
	{% for curation in site.curations %}
		<div class="curation">
			<a href="{{curation.url}}" class="curation-link">
				{% assign cdir = "/assets/imgs/curations/" | append: curation.gallerysrc %}{% include picture.html dir=cdir file="thumbnail.jpg" alt=curation.title class="curation-link-thumbnail" loading="lazy" %}
				<div class="curation-title-box">
					<h3 class="curation-title"><em>{{ curation.title }}</em></h3>
				</div>
			</a>
		</div>
	{% endfor %}
</div>