{% capture gallery_path %}assets/imgs/curations/{{ page.gallerysrc }}/gallery{% endcapture %}
{% assign gallery_size = -1 %}
<div id="{{include.id}}" class="gallery">
	<img src="/assets/svg/left.svg" class="left slide-arrow" onclick="incrementSlideIndex(-1)">
	<img src="/assets/svg/right.svg" class="right slide-arrow" onclick="incrementSlideIndex(1)">
	{% for image in site.static_files %}
		{% if image.path contains gallery_path %}
			<img src="{{ image.path }}" class="gallery-slide">
			{% assign gallery_size = gallery_size | plus: 1 %}
		{% endif %}
	{% endfor %}
	<div class="dot-box">
		{% for i in (0..gallery_size) %}
			<span class="slide-dot" onclick="setSlide({{i}})"></span>
		{% endfor %}
	</div>
</div>