<div id="mobile-header" class="header">
	<a class="home-link" href="/">
		{% if page.invert-nav %}{% assign sig = "signature-white.png" %}{% else %}{% assign sig = "signature-black.png" %}{% endif %}
		{% include picture.html dir="/assets/imgs/elements" file=sig alt="Muna Al Fadl" class="signature" %}
	</a>
	<button id="mobile-menu-button" type="button">
  		<span class="mobile-menu-button-line"></span>
	</button>
	<div id="mobile-focus-cover" class="focus-cover"></div>
	<div id="mobile-nav-box">
		<button id="mobile-menu-close-button" type="button">
			<span class="mobile-menu-close-button-line"></span>
		</button>
		<div id="mobile-nav-links">
			{% include nav_links.html %}
		</div>
	</div>
</div>