<nav>  
	{% for link in site.navigation %}
		{% if link.subpages %}
			<div class="dropdown">
				<a {% if page.active == link.url or layout.active == link.url %}class="current"{% endif %}>{{link.text}}</a>
				<div class="dropdown-content">
					{% for subpage in link.subpages %}
						<a href="{{subpage.url}}" {% if page.url == subpage.url %}class="current"{% endif %}>{{subpage.text}}</a>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<a href="{{link.url}}" {% if page.active == link.url or layout.active == link.url %}class="current"{% endif %}>{{link.text}}</a>
		{% endif %}
    {% endfor %}
</nav>
