---
---
#curation-title {
	display: block;
	max-width: 100%;
	font-size: min(10vw, 5em);
	white-space: wrap;
	text-align: center;
}
#curation-year {
	font-size: min(7vw, 3.5em);
	padding-top: 10px;
	text-align: center;
}
#curation-gallery {
	width: 60vw;
	min-width: 300px;
	height: 60vh;
	min-height: 250px;
	margin: 40px auto;
	background-color: transparent;

	.gallery-slide {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	.gallery-single-image {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
p {
	font-size: 1.5em;
}