---
---
#work-box {
	flex-direction: column;

    #work-img {
        flex: none;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    #work-info {
        text-align: right;
        align-self: flex-end;
    }
}