---
---

#works-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 30px;
	column-gap: 30px;

	.work {
		position: relative;
		display: block;
		flex: 1 1 0px;
		min-width: 250px;
		max-width: 500px;
		max-height: 450px;
/*		height: 250px;*/
		overflow: hidden;

		.work-link-thumbnail {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}

		.work-link {
			display: block;
			width: 100%;
			height: 100%;

			.work-desc {
				display: flex;
				position: absolute;
				padding: 8px;
				padding-bottom: 0;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				backdrop-filter: brightness(10%);
				-webkit-backdrop-filter: brightness(30%);
				flex-direction: column;
				justify-content: space-evenly;
				text-align: center;
				color: white;
				font-size: 16px;
				transition: opacity .35s;
				opacity: 0;
			}

			&:hover .work-desc {
				opacity: 1;
			}
		}
/*
	try:
		&:nth-child(3n) {
			flex-grow: 2;
		}
		&:nth-child(2n) {
			flex-grow: 2;
		}
*/
	}
}