---
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/assets/css/normalize.css">    
    <link rel="stylesheet" href="/assets/css/main.css">
    {% if layout.css %}
      {% for stylesheet in layout.css %}
      <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
      {% endfor %}
    {% endif %}
    {% if page.css %}
      {% for stylesheet in page.css %}
      <link rel="stylesheet" href="/assets/css/{{ stylesheet }}.css">
      {% endfor %}
    {% endif %}
    <script src="/assets/js/main.js" type="text/javascript" defer></script>
    {% if layout.js %}
      {% for js_file in layout.js %}
      <script src="/assets/js/{{ js_file }}.js" type="text/javascript" defer></script>
      {% endfor %}
    {% endif %}
    {% if page.js %}
      {% for js_file in page.js %}
      <script src="/assets/js/{{ js_file }}.js" type="text/javascript" defer></script>
      {% endfor %}
    {% endif %}
    <script type="speculationrules">
      {
        "prerender": [{ "where": { "href_matches": "/*" }, "eagerness": "moderate" }],
        "prefetch": [{ "where": { "href_matches": "/*" }, "eagerness": "moderate" }]
      }
    </script>
    <script>
      if (!HTMLScriptElement.supports || !HTMLScriptElement.supports('speculationrules')) {
        const preloadedUrls = {};
    
        function pointerenterHandler () {
          if (!preloadedUrls[this.href]) {
            preloadedUrls[this.href] = true;
    
            const prefetcher = document.createElement('link');
    
            prefetcher.as = prefetcher.relList.supports('prefetch') ? 'document' : 'fetch';
            prefetcher.rel = prefetcher.relList.supports('prefetch') ? 'prefetch' : 'preload';
            prefetcher.href = this.href;
    
            document.head.appendChild(prefetcher);
          }
        }
    
        document.querySelectorAll('a[href^="/"]').forEach(item => {
          item.addEventListener('pointerenter', pointerenterHandler);
        });
      }
    </script>
  </head>
  <body>
    <div id="content-wrapper">
      <header>
        {% include desktop_header.html %}
        {% include mobile_header.html %}
      </header>
      <main>
        {{ content }}
      </main>
      {% include footer.html %}
    </div>
  </body>
</html>
