---
layout: default
active: "/google-earth"
css: 
- "work_page"
- "google_earth_digital_page"
js: "expandable"
---
<div id="work-box">
	<img src="/assets/imgs/google-earth-digital/{{ page.img }}" id="work-img" class="expandable">
	<div id="work-info">
		<h1 id="work-title"> <em>{{ page.title }} </em></h1>
		<div id="work-specs">
			<h3>{{ page.medium }}</h3>
			<h3>{{ page.dimensions }}</h3>
			<h3>{{ page.year }}</h3>
			{% if page.available %}<h3>available</h3>{% endif %}
		</div>
		{{ content }}
	</div>
</div>