---
layout: default
title: "google earth — physical works"
description: "Paintings from the Google Earth series by Muna Al Fadl, made from appropriated satellite imagery of Damascus in stain and oil on wood panel."
css: "works"
active: "/google-earth"
---
<div id="works-box">
	{% assign google_earth_physical = site.works | where: "series", "google earth" %}
	{% for work in google_earth_physical %}
		<div class="work" {% if work.grow %}style="--grow: {{work.grow}};"{% endif %}>
			<a href="{{work.url}}" class="work-link" >
				{% include picture.html dir="/assets/imgs/works" file=work.thumbnailimg alt=work.alt class="work-link-thumbnail" loading="lazy" %}
				<div class="work-desc">
					<h3 class="title"><em>{{ work.title }}</em></h3>
					<span class="medium">{{ work.medium }}</span>
					<span class="dimensions">{{ work.dimensions }}</span>
					<span class="year">{{ work.year }}</span>
				</div>
			</a>
		</div>
	{% endfor %}
</div>