---
layout: default
title: "works"
css: "works"
active: "/google-earth"
---
<div id="works-box">
	{% assign google_earth_physical = site.works | where: "series", "google earth" %}
	{% for work in google_earth_physical %}
		<div class="work" {% if work.grow %}style="--grow: {{work.grow}};"{% endif %}>
			<a href="{{work.url}}" class="work-link" >
				<img class="work-link-thumbnail" src="/assets/imgs/works/{{work.thumbnailimg}}" loading="lazy">
				<div class="work-desc">
					<h3 class="title"><em>{{ work.title }}</em></h3>
					<span class="medium">{{ work.medium }}</span>
					<span class="dimensions">{{ work.dimensions }}</span>
					<span class="year">{{ work.year }}</span>
				</div>
			</a>
		</div>
	{% endfor %}
</div>